<div ng-controller="indexController">
	<nav class="navbar navbar-dark bg-primary cnavbar-expand-lg fixed-top">
		<h2 class="text-white">Livraria INDT</h2>
		<button type="button" class="btn btn-success" ng-click="registrarAutor()">Novo Autor</button>
		<a href="#!/livros" class="btn btn-success">Livros</a>
	</nav>

	
	<div class="col-md-12" style="margin-top: 5%;" ng-controller="indexController">

		<!-- form campo pesquisa-->
		<form class="form-inline">
		    <div class="form-group">
		        <label>Procurar: </label>
		        <input type="text" ng-model="procurar" class="form-control" placeholder="Procurar...">
		    </div>
		</form>
		
		<!-- Tabela de autores -->
		<table class="table">
			<thead class="thead-dark text-center">
			<tr>
			<th scope="col" ng-click="ordenarAutores('autor.firstName')">Autores</th>
			<th scope="col">Ações</th>
			</tr>
			</thead>

			<tbody>
				<tr class="text-center" ng-repeat="autor in autores |filter:procurar|orderBy:sortKey:reverse">
					<td>{{ autor.firstName + ' ' + autor.lastName}}</td>
					<td>
						<button type="button" class="btn btn-primary" ng-click="modalLivrosAutor(autor)">livros</button> 
						<button type="button" class="btn btn-warning text-white" id="btnEditar" ng-click="alterarAutor(autor)">editar</button> 
						<button type="button" class="btn btn-danger" ng-click="modalExcluir(autor)">excluir</button>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- The Modal -->
		<div class="modal fade" id="myModalEditarAutor">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">{{autorTitulo}}</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<label>Nome: </label><input type="text" ng-model="autor.firstName">
						<label>Sobrenome: </label><input type="text" name="" ng-model="autor.lastName">
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" ng-click="salvarAutor()">Salvar</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div>

		<!-- The ModalListaLivros -->
		<div class="modal fade" id="myModalListaLivros">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">{{tituloModal}}</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<label>{{livrosAutor.title}} <br></label><br>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
					</div>
				</div>
			</div>
		</div>


		<!-- The ModalExcluir -->
		<div class="modal fade" id="myModalExcluirAutor">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Excluir</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<label>{{ autorMensagem }}</label>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" ng-click="deletarAutor(aut)">Excluir</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
